.user-items {
  display: flex;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-weight: bold;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.user-container {
  padding: 2vw;
  display: flex;
}

.user-avatar {
  padding-right: 2vw;
}

.user-items-item {
  height: 100%;
  padding: 0 20px;
  transition: .2s;
  display: inline-block;
  color: #222;
}

.user-items-item:hover {
  background-color: var(--main-color-highlight);
  color: #fff;
}

.user-items-item--active {
  background: var(--main-color);
  color: #fff;
}

@media screen and (max-width: 600px) {
  .user-items-item {
    padding: 0 6px;
    font-size: 14px;
  }
}