.sidebar {
	position: fixed;
	top: 0;
	height: calc(100% - 60px);
	margin-top: 60px;
	background-color: #fff;
	z-index: 99;
	box-shadow: 0px 49px 20px -10px #000a;
}

.sidebar-toggle_btn {
	width: 100%;
	height: 60px;
	padding: 0;
}
@media screen and (max-width: 780px) {
	.sidebar {
		margin-top: 0;
		height: 100%;
		box-shadow: none;
	}
}
.sidebar-content {
	width: 280px;
	overflow-y: scroll;
	height: calc(100% - 60px);
	padding: 20px 0;
}

.sidebar-link {
	padding: 4px 20px;
	width: 100%;
	display: block;
}


.sidebar-common_link svg {
	fill: var(--main-color);
	transition: .1s;
}
.sidebar-common_link:hover svg {
	fill: #e66;
}
.sidebar-common_link polyline {
	stroke: var(--main-color);
	transition: .1s;
}
.sidebar-common_link:hover polyline {
	stroke: #e66;
}

.sidebar-content a:hover {
	/*background-color: #eee;*/
}



.sidebar-section {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}


.sidebar-section_list {
}

.sidebar-common_link {
	display: flex;
    align-items: center;
    font-size: 16px;

}

.sidebar-subtitle {
	font-size: 16px;
	font-weight: bold;
	color: #555;
	flex: 1;
}

.sidebar-icon {
	font-size: 36px;
	margin-right: 10px;
}
.sidebar-icon:hover {
	text-decoration: none;
}
.sidebar-icon svg {
	fill: var(--main-color);
}


.sidebar-subtitle_container {
	display: flex;
	padding: 0 20px;
	margin-bottom: 8px;
}

.sidebar-create {
	margin: 10px 20px 0;
	width: calc(100% - 40px);
	height: 30px;
	line-height: 32px;
}
.sidebar-create:hover {
	color: #fff;
}

.sidebar-toggle_btn-img {
	width: 40px;
	height: 40px;
}

.sidebar-content_small .sidebar-expanded {
	display: none;
}
.sidebar-content_small .sidebar-icon {
	margin-right: 0;
}
.sidebar-content_small .sidebar-common_link {
	display: block;
}
.sidebar-content_small {
	width: 60px;
	text-align: center;
	overflow-y: hidden;
}
.sidebar-content_small .sidebar-link {
	padding: 4px 0;
}

@media screen and (max-width: 600px) {
	.sidebar-toggle_btn {
		width: 60px;
	}
	
	.sidebar {
		height: auto;
		background-color: transparent;
		
	}

	.sidebar-content {
		background-color: #fff;
		left: -340px;
		transform: translateX(340px);
		transition: .3s;
		width: 280px;
		text-align: left;
		overflow-y: scroll;
		position: fixed;
	}

	.sidebar-content_small {
		transform: translateX(0);
	}

	.sidebar-content_small .sidebar-expanded {
		display: block;
	}
	.sidebar-content_small .sidebar-icon {
		margin-right: 10px;
	}
	.sidebar-content_small .sidebar-common_link {
		display: flex;
		padding: 4px 20px;
	}
	.sidebar-content_small .sidebar-link {
		padding: 4px 20px;
	}
}


.sidebar-user {
	display: none;
}

.sidebar-user_submit {
	display: none;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.sidebar-user_submit-container {
	padding: 4px 20px;
	margin-bottom: 18px;
}

.sidebar-user-container {
	padding: 4px 20px;
}

.sidebar-user_avatar {
	width: 60px;
	margin-right: 20px;
}
@media screen and (max-width: 500px) {
	.sidebar-user {
		display: flex;
	}
}

@media screen and (max-width: 400px) {
	.sidebar-user_submit {
		display: block;
	}
}