.board_sorter {
  position: fixed;
  z-index: 10;
  top: 60px;
  left: 60px;
  width: calc(100% - 60px);
  height: 40px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.board_sorter ~ .grid {
  margin-top: calc(60px + 40px + var(--spacing))
}

@supports (position: sticky) {
  .board_sorter {
    position: sticky;
    margin-bottom: 2vw;
    margin-left: -2vw;
    width: calc(100% + 4vw);
  }

  .board_sorter ~ .grid {
    margin-top: 0;
  }
  
}

@media screen and (max-width: 600px) {
  .board_sorter {
      left: 0;
      padding-right: 8px;
  }
}

.board_sorter-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.board_sorter-btn:not(:first-child) {
  margin-left: -10px;
}

.board_sorter-btn svg {
  transition: .2s;
  fill: var(--main-color-pale);
}

.board_sorter-btn:hover svg {
  fill: var(--main-color-highlight);
}

.board_sorter-btn--active svg {
  fill: var(--main-color);
}

.board_sorter-views {
  white-space: nowrap;
}

.board_sorter-submit {
  background-color: var(--main-color);
  border: 0;
  color: #fff;
  height: 28px;
  width: 36px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;

  /* Disabled with js */
  display: none;
}

.board_sorter-form {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.board_sorter-label {
  font-size: 14px;
  padding-right: 4px;
}

.board_sorter-select {
  height: 28px;
  border: 1px solid #eee;
  background-color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-top: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/assets/img/arrow_down_black.svg) no-repeat;
  background-position: center right 4px;
  background-size: 14px;
  padding-right: 20px;
  padding-left: 8px;
}