.login-page {
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 60px);
	justify-content: space-evenly;
	align-items: center;
}

.login-input {
	margin: 0;
	line-height: 1;
	border: 1px solid #eee;
	padding: 10px 20px 6px;
	font-size: 20px;
	color: #555;
	border-radius: 0px;
}


.login-input_container {
	display: flex;
}

.login-input_container .theme-btn {
	padding: 0 30px;
}
