.view_post-wrapper {
	display: flex;
}

@media screen and (max-width: 1200px) {
	.view_post-wrapper {
		display: block;
	}
}

.view_post {
	display: flex;
	flex-direction: column;
	padding: 48px;
	box-shadow: 0px 8px 20px -4px #0005;
	font-size: 14px;
	flex: 1;
	background-color: #fff;
}

.post-title_wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.post-title {
	font-size: 24px;
}

.post-details,
.post-content {
	padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.post-image {
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
}

.post-text {

}

.post-image img {
	max-height: 600px;
    max-height: 60vh;
    max-width: 100%;
}

.post-image_active img {
	max-height: none;
}

.post-image_sizer {
	background-color: #000;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px 10px 8px 10px;
	opacity: 0;
	transition: .1s;
}

.post-image:hover .post-image_sizer {
	opacity: .5;
}

.post-image_size_icon.shrink {
	display: none;
}
.post-image_active .post-image_size_icon.expand {
	display: none;
}
.post-image_active .post-image_size_icon.shrink {
	display: block;
}

.post-btn {
	padding: 4px 32px;
}

.post-new_form {
	display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.post-new_form > div {
	margin: 8px 0;
}
.post-new_form > div:first-child {
	margin-top: 0;
}
.post-new_form > div:last-child {
	margin-bottom: 0;
}

.post-action_row {
	display: flex;
}
.post-action_row button {
	margin-left: 8px;
}
.post-action_row button:first-child {
	margin-left: 0;
}
.post-action_row button:last-child {
	margin-left: auto;
}

.post-options {
	position: absolute;
	right: 0;
	top: 61px;
}

.post-options a {
	padding: 10px 20px;
	display: block;
	transition: .2s;
}
.post-options a:hover {
	color: #fff;
    background-color: #d33;
}