.reply-wrapper {
	padding: 48px;
}

.reply-form {
	display: flex;
	flex-direction: column;
}

.reply-form textarea {
	margin: 0px;
    max-width: 800px;
    height: 219px;
    resize: vertical;
    min-width: 300px;
    width: 100%;
	min-height: 200px;
}