.heart {
	color: var(--main-color);
}

.main {
	margin-left: 60px;
    margin-top: 60px;
    min-height: 100%;
}

.main-flex {
    display: flex;
}


@media screen and (max-width: 600px) {
    .main {
        margin-left: var(--spacing);
    }
}

.grid-last {
	text-align: center;
	color: #777;
    padding: 32px 0 64px;
}

.message {
	position: absolute;
    left: calc(50% - 300px);
    display: flex;
    background-color: #fff;
    border: 3px solid var(--main-color);
    padding: 20px;
    width: 600px;
    animation: fade-out 5s forwards;
    animation-delay: 2s;
    z-index: 999999;
}

.message-btn {
	margin-left: auto;
}

@keyframes fade-out {
	from { opacity: 1; visibility: visible; }
	to { opacity: 0; visibility: hidden;}
}

.home-btn {
    margin-top: 20px;
    margin-left: 20px;
}

.svg-no_fill svg {
    fill: none !important;
}

.fade_out {
    animation: 1s fade_out forwards;
}

@keyframes fade_out {
    from {opacity: 1; margin-top: 0;}
    to {opacity: 0; margin-top: -120px;}
}


.n500,
.n600,
.n900 {
    display: block;
}

.y500,
.y600,
.y900 {
    display: none;
}

@media screen and (max-width: 600px) {
    .n600 {
        display: none;
    }
    .y600 {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .n500 {
        display: none;
    }
    .y500 {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .n900 {
        display: none;
    }
    .y900 {
        display: block;
    }
}
