* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	height: calc(100% - 60px);
}

body {
	font-family: 'Dejavu Sans', sans-serif;
	color: #222;
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	position: relative;
}

a {
	text-decoration: none;
	transition: .1s;
	color: var(--main-color-dark);
}

a:hover {
	color: var(--main-color-highlight);
	text-decoration: underline;
}

button {
	font-family: inherit;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.none {
	display: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.theme-btn {
	background-color: var(--main-color);
	border: none;
	color: #fff;
	transition: background-color .3s;
	font-weight: bold;
}

.theme-btn:hover {
	background-color: #e44;
}

.theme-a-btn {
	display: block;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
}

.theme-a-btn:hover {
	color: #fff;
}
.btn-tiny {
	height: 22px;
    width: 22px;
    padding: 4px;
}

.svg-icon {
	width: 1em;
	display: inline-block;
	margin-right: 1em;
}

.svg-icon svg {
	fill: #393939;
	height: 20px;
	margin-top: 2px;
	margin-left: -1px;
}

.none {
	display: none;
}

.box {
	background-color: #fff;
}

.bb { border: 1px solid #ddd; }
.bb1 { border-top: 1px solid #ddd; }
.bb2 { border-right: 1px solid #ddd; }
.bb3 { border-bottom: 1px solid #ddd; }
.bb4 { border-left: 1px solid #ddd; }

.settings-btn svg {
	fill: #aaa;
	transition: .2s;
}
.settings-btn:hover svg {
	fill: #777;
} 


:target {
	animation: target-fade 3s;
}

@keyframes target-fade {
	from { background-color: #fed; }
	50% { background-color: #fed; }
	to { background-color: transparent; }
}


.big-text {
	font-size: 36px;
}

.input-text {
	margin: 0;
    line-height: 1;
    border: 1px solid #eee;
    padding: 10px 20px 6px;
    font-size: 20px;
    color: #555;
    border-radius: 0px;
}

.input-textarea {
	height: 280px;
    font-family: 'Dejavu Sans', sans-serif;
    line-height: 1.3;
    font-size: 16px;
    width: 100%;
    resize: vertical;
}

.theme-btn-default {
	padding: 8px 16px;
}

.btn-secondary {
	background-color: #ce8e8e;
}

.none-withjs {
	display: none;
}