
.artbar {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 400px;
    min-width: 400px;
    box-shadow: 0px 8px 20px -4px #0005;
    display: block;
    margin-left: var(--spacing);
    padding: 48px;
    background-color: #fff;
}

@media screen and (max-width: 1200px) {
	.artbar {
        width: 100%;
        min-width: 280px;
		margin-left: 0;
        margin-top: var(--spacing);
        grid-column: 1;
        grid-row: -1;
    }
}

.artbar {
    padding: 0;
}
.artbar-contents {
    padding: 2vw;
}
.artbar-title {
    display: block;
    background-color: var(--main-color);
    transition: background-color .3s;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding: 8px 2vw;
}

.artbar-title:hover {
    color: #fff;
    background-color: var(--main-color-highlight);
}

.time-tooltip {
    position: relative;
    z-index: 9;
}

.time-tooltip:hover {
    font-style: italic;
}