.comment {
	padding-left: 26px;
	position: relative;
}  
.comment-top {
	border: none;
	padding: 0;
	margin: 0;
}
.comment-inner {
    padding: 6px 30px 0 30px;
    position: relative;
}
.comment-collapse {
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: #d33;
	display: inline;
	position: absolute;
    top: 5px;
    left: 0;
}

.comment-menu {
	font-size: 11px;
    color: #777;
    padding-bottom: 8px;
}
.hide-comment ~ .comment {
	display: none;
}

.cmt-close {
	display: none;
}

.hide-comment .cmt-close {
	display: inline-block;
}
.hide-comment .cmt-open {
	display: none;
}

.comment-content {
	display: inline-block;
	line-height: 1.3;
	padding-bottom: 4px;
}

.hide-comment .comment-content {
	display: none;
}

.comment-hidden_helper {
	display: none;
}

.hide-comment > .comment-menu > .comment-hidden_helper {
	display: inline;
}
.comment-actions {
	display: inline;
}
.hide-comment > .comment-menu > .comment-actions {
	display: none;
}

.hide-comment > .comment-menu {
	padding-bottom: 0px;
}

.hide-comment > .comment-collapse {
	top: 3px;
}

.hide-comment {
	padding-bottom: 0px;
}

.cmt-qr {
	padding-bottom: 10px;
}

.cmt-qr_title {
	margin-bottom: 10px;
	display: block;
}

.cmt-qr_text {
	display: block;
    width: 100%;
    max-width: 600px;
    height: 130px;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cmt-srt_menu {
	padding: 10px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 6px;
}

.cmt-vline {
	position: absolute;
    width: 24px;
    height: calc(100% - 30px);
    border-left: 3px solid #ddd;
    top: 30px;
    z-index: 1;
    transition: .1s;
}

.comment:hover > .cmt-vline {
	border-left: 3px solid #aaa;
}

.comment > .cmt-vline:hover {
	border-left: 3px solid #666;
}

.user_comment {
	background-color: #fff5f5;
	border-right: 2px solid #d99;
}