.view_post-wrapper {
	display: flex;
}

@media screen and (max-width: 1200px) {
	.view_post-wrapper {
		display: block;
	}
}

.view_post {
	display: flex;
	flex-direction: column;
	padding: 48px;
	box-shadow: 0px 8px 20px -4px #0005;
	font-size: 14px;
	flex: 1;
	background-color: #fff;
}

.post-title_wrapper {
	display: flex;
	justify-content: space-between;
}

.post-title {
	font-size: 24px;
}

.post-details,
.post-content {
	padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.post-image {
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
}

.post-text {

}

.post-image img {
	max-height: 600px;
    max-height: 60vh;
    max-width: 100%;
}

.post-image_active img {
	max-height: none;
}

.post-image_sizer {
	background-color: #000;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px 10px 8px 10px;
	opacity: 0;
	transition: .1s;
}

.post-image:hover .post-image_sizer {
	opacity: .5;
}

.post-image_size_icon.shrink {
	display: none;
}
.post-image_active .post-image_size_icon.expand {
	display: none;
}
.post-image_active .post-image_size_icon.shrink {
	display: block;
}

.post-btn {
	padding: 4px 32px;
}
