.sidebar {
	position: fixed;
	top: 0;
    box-shadow: 2px 0px 8px -4px #777;
    height: calc(100% - 60px);
    margin-top: 60px;
    background-color: #fff;
    z-index: 99;
}

.sidebar-toggle_btn {
	width: 100%;
	height: 60px;
}

.sidebar-content {
	width: 280px;
	overflow-y: scroll;
   	height: calc(100% - 60px);
   	padding: 20px 0;
}

.sidebar-link {
	padding: 4px 20px;
	width: 100%;
	display: block;
}


.sidebar-common_link g {
	fill: #d33;
	transition: .1s;
}
.sidebar-common_link:hover g {
	fill: #e66;
}
.sidebar-common_link polyline {
	stroke: #d33;
	transition: .1s;
}
.sidebar-common_link:hover polyline {
	stroke: #e66;
}

.sidebar-content a:hover {
	/*background-color: #eee;*/
}



.sidebar-section {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}


.sidebar-section_list {
}

.sidebar-common_link {
	display: flex;
    align-items: center;
    font-size: 16px;

}

.sidebar-subtitle {
	font-size: 16px;
	font-weight: bold;
	color: #555;
	flex: 1;
}

.sidebar-icon {
	font-size: 36px;
	margin-right: 10px;
}
.sidebar-icon:hover {
	text-decoration: none;
}



.sidebar-subtitle_container {
	display: flex;
	padding: 0 20px;
	margin-bottom: 8px;
}

.sidebar-create {
    margin: 10px 20px 0;
    width: calc(100% - 40px);
    height: 30px;
    line-height: 32px;
}
.sidebar-create:hover {
	color: #fff;
}

.sidebar-toggle_btn-img {
	width: 40px;
	height: 40px;
}

.sidebar-content_small .sidebar-expanded {
	display: none;
}
.sidebar-content_small .sidebar-icon {
	margin-right: 0;
}
.sidebar-content_small .sidebar-common_link {
	display: block;
}
.sidebar-content_small {
	width: 60px;
	overflow-y: initial;
	text-align: center;
}
.sidebar-content_small .sidebar-link {
	padding: 4px 0;
}