* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	height: 100%;
}

body {
	font-family: 'Dejavu Sans', sans-serif;
	color: #222;
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	position: relative;
}

a {
	text-decoration: none;
	/*color: #28d;*/
}

a:hover {
	/*text-decoration: underline;*/
}

button {
	font-family: inherit;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.none {
	display: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.theme-btn {
	background-color: #d33;
	border: none;
	color: #fff;
	transition: background-color .3s;
	font-weight: bold;
}

.theme-btn:hover {
	background-color: #e44;
}

a {
	transition: .1s;
	color: #a22;
}

a:hover {
	color: #e66;
}

.theme-a-btn {
	display: block;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
}

.theme-a-btn:hover {
	color: #fff;
}
.btn-tiny {
	height: 22px;
    width: 22px;
    padding: 4px;
}

.svg-icon {
	height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 1em;
}

.none {
	display: none;
}

.box {
	box-shadow: 0px 8px 20px -4px #0005;
	background-color: #fff;
}

.bb { border: 1px solid #ddd; }
.bb1 { border-top: 1px solid #ddd; }
.bb2 { border-right: 1px solid #ddd; }
.bb3 { border-bottom: 1px solid #ddd; }
.bb4 { border-left: 1px solid #ddd; }

.settings-btn svg {
	fill: #aaa;
	transition: .2s;
}
.settings-btn:hover svg {
	fill: #777;
} 


:target {
	animation: target-fade 3s;
}

@keyframes target-fade {
	from { background-color: #fed; }
	50% { background-color: #fed; }
	to { background-color: transparent; }
}