.header {
	display: flex;
	align-items: center;
	height: 60px;
	min-height: 60px;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.header-content {
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
}

.header-logo {
	background-color: var(--main-color);
	height: 100%;
	width: 280px;
	min-width: 280px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 780px) {
	.header-logo {
		display: none;
	}

	.header {
		left: 60px;
		width: calc(100% - 60px);
	}
}

.header-logo_text {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
}

.header-artboard_container {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.header-artboard_icon {
	height: 40px;
	width: auto;
	margin-right: 10px;
}

.header-artboard_name {
	font-size: 20px;
	color: #555;
	margin-top: 4px;
	font-weight: bold;
}

.header-search_container {
	margin-right: 20px;
}

.header-search_form {
	display: flex;
}

.header-user_container {
	border-left: 1px solid #eee;
	height: 100%;
	margin-left: auto;
	display: flex;
	align-items: center;
	padding: 0 10px 0 20px;
}

.header-user {
	display: flex;
	height: 40px;
	margin-right: 10px;
}

.header-search_input {
	margin: 0;
	line-height: 1;
	border: 1px solid #eee;
	padding: 10px 20px 6px;
	font-size: 20px;
	color: #555;
	border-radius: 0px;
}

.header-user_avatar {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.header-user_name {
	font-weight: bold;
}

.header-user_submit {
	background-color: var(--main-color);
	color: #fff;
	margin-left: auto;
	margin-right: 10px;
	padding: 10px 20px;
	font-weight: bold;
	height: 40px;
	width: auto;
	line-height: 24px;
}

@media screen and (max-width: 900px) { 
	.header-user_submit {
		width: 40px;
		padding: 0;
		fill: #fff;
	}
}


.header-user_icon {
	display: block;
	height: 40px;
	width: 40px;
	border: 1px solid #eee;
	padding: 8px;
	margin-right: 10px;
	background-color: #fff;
	transition: .2s;
}

.header-user_icon:hover {
	background-color: #eee;
}

.header-user_details {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.header-user_menu {
	position: absolute;
    top: 61px;
    right: 0;
    background-color: #fff;
}

.header-user_menu a {
	width: 100%;
	display: block;
	padding: 10px 20px;
	transition: .2s;
}

.header-user_menu a:hover {
	color: #fff;
	background-color: var(--main-color);
}

.header-user_signup {
	height: 40px;
	padding: 0 20px;
    line-height: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.header-user_login:hover {
	color: #fff;
}

.header-user_login {
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	font-weight: bold;
	margin-right: 10px;
	color: var(--main-color);
	background-color: #fff;
	border: 2px solid var(--main-color);
	line-height: 36px;
}

.header-user_signup:hover {
	color: #fff;
}

@media screen and (max-width: 600px) {
	.header-user_login,
	.header-user_signup {
		padding: 0 10px;
		font-size: 14px;
	}

	.header-user_signup {
		margin-right: 0;
	}
}

.header-search_input-btn {
	display: none;
	margin-left: auto;
	margin-right: 0;
	height: 40px;
	width: 40px;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 8px;
	padding-top: 5px;
	transition: .2s;
}

.header-search_input-btn:hover {
	background-color: #eee;
}

.header-search_input-btn svg {
	fill: #555;
	height: 30px;
}

.header-search_input-real_btn {
	display: none;
}

@media screen and (max-width: 1100px) {
	.header-search_input {
		display: none;
	}
	.header-search_input-btn {
		display: block;
	}
}

.header-user_submit-sp {
	padding-top: 11px;
}

.header-user_submit-sp svg {
	height: 18px;
}


@media screen and (max-width: 600px) {
	.header-search_container {
		display: none;
	}

	.header-artboard_container {
		margin: 0 10px;	
	}

	.header-artboard_name {
		font-size: 16px;
		text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 65px;
	}
	.header-user_container {
		padding: 0 10px;
	}
}

@media screen and (max-width: 500px) {
	.header-user {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.header-user_submit {
		display: none;
	}
}