.item {
    background-color: #ddd;
    display: inline-block;
    width: 30%;
    height: 240px;
    margin: 0 0 20px 20px;
    overflow: hidden;
    position: relative;
    font-size: 12px;
}

.item-heart {
    pointer-events: auto;
    cursor: pointer;
}

.item-heart_container {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
}

.item-heart_count {
    color: #fff;
    font-weight: bold;
}

.item-heart svg {
    transition: .2s;
}

.item-heart:hover svg {
    fill: #ffbcbc80;
}

.item-heart_active svg {
    fill: #a11
}

.item img {
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.item img,
.item-text_post {
    transition: .2s;
    background-color: #fff;
}

.item:hover img,
.item:hover .item-text_post {
    filter: brightness(85%);
}

.item-text_post {
    font-size: 26px;
    font-family: 'Times New Roman', serif;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
    margin: -4px 0 0 -4px;
    background-color: #fff;
    initial-letter: 2;
    text-align: justify;
}
.item-text_post::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
}

.item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.item-label a {
    position: relative;
    z-index: 9;
}

.item-v2.item-h2 .item-text_post {
    font-size: 50px;
}

.item-comments {
    white-space: nowrap;
}

.item-card_link {
    width: 100%;
    height: 100%;
}

.item-label {
    color: #444;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 8px 16px;
    width: 100%;
}

.item-detail_container {
    display: flex;
    justify-content: space-between;
}

.item-action_menu {
    display: none;
}

.item-detail {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-date {
    color: #999;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    z-index: 9;
}

.item-date:hover {
    font-style: italic;
}

.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .item {
        width: 46%;
    }
}
@media screen and (max-width: 768px) {
    .item {
        width: 100%;
    }
    .grid {
        margin-left: -20px;
    }
}

@supports (display: flex) or (display: grid) {
    .grid {
        max-width: none;
    }
}

@supports (display: flex) {

    .grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
    }
    .item {
        min-width: 240px;
        width: calc(25% - 20px);
        flex: auto;
    }
    .item-h2 {
        width: calc(50% - 20px);
    }
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-auto-rows: 300px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-gap: 10px;
        justify-content: center;
        grid-auto-flow: dense;
        margin-left: 0;
    }

    .item {
        grid-row: span 1;
        grid-column: span 1;
        display: block;
        height: auto;
        width: auto;
        margin: 0;
        min-width: 0;
    }

    .item-v2 {
        grid-row: span 2;
    }

    .item-v3 {
        grid-row: span 3;
    }

    .item-h2 {
        grid-column: span 2;
    }

    .item-h3 {
        grid-column: span 3;
    }

    @media screen and (max-height: 768px) {
        .item-v3 {
            grid-row: span 2;
        }
    }
    @media screen and (max-height: 680px) {
        .item-v2 {
            grid-row: span 1;
        }
        .item-v3 {
            grid-row: span 1;
        }
    }
    @media screen and (max-width: 960px) {
        .item-h3 {
            grid-column: span 2;
        }
    }

    @media screen and (max-width: 700px) {
        .item-h2 {
            grid-column: span 1;
        }
        .item-h3 {
            grid-column: span 1;
        }
    }

    .item img {
        max-height: 360px;
    }
    .item.item-h2 img,
    .item.item-h3 img {
        max-height: none;
    }
    .item img,
    .item-v2.item-h2 img,
    .item-v3.item-h3 img {
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        height: auto;
        min-width: 100%;
        min-height: 100%;
        width: auto;
    }
    .item-v2 img,
    .item-v3 img,
    .item-v3.item-h2 img {
        height: 100%;
        width: auto;
    }
    .item-h2 img,
    .item-h3 img,
    .item-v2.item-h3 img {
        height: auto;
        width: 100%;
    }
}

@supports (object-fit: cover) {
    .item img,
    .item-v2.item-h2 img,
    .item-v3.item-h3 img,
    .item-v2 img,
    .item-v3 img,
    .item-v3.item-h2 img,
    .item-h2 img,
    .item-h3 img,
    .item-v2.item-h3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 0;
        min-height: 0;
        transform: none;
        top: inherit;
        left: inherit;
        max-height: none;
    }
}