.grid--list.grid {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 20px -4px #0005;
}

.grid--list .item {
    display: flex;
    height: 120px;
    margin-bottom: -1px;
    position: relative;
    box-shadow: none;
}

.grid--list .item:hover {
    border: 1px solid #aaa;
    z-index: 1;
}

.grid--list .item img,
.grid--list .item-text_post {
    width: 120px; 
    padding: 10px;  
}

.grid--list .item:hover img,
.grid--list .item:hover .item-text_post {
    filter: none;
}

.grid--list .item-label {
    flex: 1;
    position: static;
}

.grid--list .item-action_menu {
    display: block;
}

.grid--list .item-heart {
    position: static;
}

.grid--list .item:hover .item-heart {
    transform: none;
}

.grid--list .item-text_post {
    margin: 0;
    font-size: 12px;
}

.grid--list .item-v2.item-h2 .item-text_post {
    font-size: 24px;
}

.grid--list .item-heart svg {
    width: 32px;
    height: 32px;
}

.grid--list .item-heart_container {
    position: static;
    background-color: var(--main-color);
}